* {
    /*acuérdate de elegir el correcto box-sizing y de resetear el padding y el margin*/
    box-sizing: content-box;
    }
    body {
    font-family:'Roboto',sans-serif;;
    font-size: 18px,
    line-height: 1.6px;
    }
    .izq, .cen, .der {
    display: inline-block}
    
    
    
    .cabecita{
    margin-top:10px;
    padding:10px;
    display: flex;
    justify-content: space-between;
    text-align:center;
    background-color: #ccc;
    }
    .izq, .cen, .der {
    display: inline-block;
    border-radius: 9px;
    }
    .izq {
    background-color:#FF007433;
    }
    .cen {
    background-color: #FF0074A6;
    }
    .der {
    background-color:#FF0074FF;
    }
    p {
    text-align:center;
    }
    img{
    display:block;
    }
    section a {
    display: inline;
    }
    .centrada {
    max-width: 500px;
    border-style: dashed;
    border-radius: 9px;
    border-color: #aaa;
    padding: 7px;
    margin: auto;
      
    }